:root {
  --background: oklch(0.96 0.03 106.96);
  --foreground: oklch(0.4 0.07 91.45);
  --card: oklch(0.98 0.04 95.41);
  --card-foreground: oklch(0.32 0 0);
  --popover: oklch(0.98 0.04 95.41);
  --popover-foreground: oklch(0.32 0 0);
  --primary: oklch(0.77 0.14 91.05);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.67 0.13 61.29);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.93 0.03 106.91);
  --muted-foreground: oklch(0.32 0 0);
  --accent: oklch(0.89 0.18 95.32);
  --accent-foreground: oklch(0.32 0 0);
  --destructive: oklch(0.7 0.2 32.32);
  --border: oklch(0.83 0.11 92.68);
  --input: oklch(0.65 0.13 81.56);
  --ring: oklch(0.75 0.15 83.98);
  --chart-1: oklch(0.89 0.18 95.32);
  --chart-2: oklch(0.67 0.13 61.29);
  --chart-3: oklch(0.65 0.13 81.56);
  --chart-4: oklch(0.75 0.15 83.98);
  --chart-5: oklch(0.77 0.14 91.05);
  --sidebar: oklch(0.96 0.03 106.96);
  --sidebar-foreground: oklch(0.32 0 0);
  --sidebar-primary: oklch(0.77 0.14 91.05);
  --sidebar-primary-foreground: oklch(0.32 0 0);
  --sidebar-accent: oklch(0.89 0.18 95.32);
  --sidebar-accent-foreground: oklch(0.32 0 0);
  --sidebar-border: oklch(0.65 0.13 81.56);
  --sidebar-ring: oklch(0.75 0.15 83.98);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Delius Swash Caps;
  --font-serif: Delius Swash Caps;
  --font-mono: Delius Swash Caps;
  --radius: 0.625rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.32 0 0);
  --foreground: oklch(0.96 0.03 106.96);
  --card: oklch(0.41 0 0);
  --card-foreground: oklch(0.96 0.03 106.96);
  --popover: oklch(0.41 0 0);
  --popover-foreground: oklch(0.96 0.03 106.96);
  --primary: oklch(0.84 0.17 82.56);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.47 0.11 50.84);
  --secondary-foreground: oklch(0.96 0.03 106.96);
  --muted: oklch(0.44 0 0);
  --muted-foreground: oklch(0.96 0.03 106.96);
  --accent: oklch(0.66 0.14 80.23);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.66 0.23 35.4);
  --border: oklch(0.47 0.11 50.84);
  --input: oklch(0.47 0.11 50.84);
  --ring: oklch(0.65 0.13 81.56);
  --chart-1: oklch(0.75 0.15 83.98);
  --chart-2: oklch(0.47 0.11 50.84);
  --chart-3: oklch(0.65 0.13 81.56);
  --chart-4: oklch(0.75 0.15 83.98);
  --chart-5: oklch(0.65 0.13 81.56);
  --sidebar: oklch(0.32 0 0);
  --sidebar-foreground: oklch(1 0 0);
  --sidebar-primary: oklch(0.61 0.13 80.96);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.75 0.15 83.98);
  --sidebar-accent-foreground: oklch(0.96 0.03 106.96);
  --sidebar-border: oklch(0.47 0.11 50.84);
  --sidebar-ring: oklch(0.65 0.13 81.56);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Delius Swash Caps;
  --font-serif: Delius Swash Caps;
  --font-mono: Delius Swash Caps;
  --radius: 0.625rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

