:root {
  --background: oklch(0.91 0.05 82.69);
  --foreground: oklch(0.41 0.08 79.04);
  --card: oklch(0.92 0.04 83.86);
  --card-foreground: oklch(0.41 0.08 73.75);
  --popover: oklch(0.92 0.04 83.86);
  --popover-foreground: oklch(0.41 0.08 73.75);
  --primary: oklch(0.71 0.1 111.99);
  --primary-foreground: oklch(0.98 0.01 3.71);
  --secondary: oklch(0.88 0.05 83.41);
  --secondary-foreground: oklch(0.51 0.08 79.21);
  --muted: oklch(0.86 0.06 83.48);
  --muted-foreground: oklch(0.51 0.08 74.26);
  --accent: oklch(0.86 0.05 84.5);
  --accent-foreground: oklch(0.26 0.02 358.42);
  --destructive: oklch(0.63 0.24 29.21);
  --border: oklch(0.74 0.06 79.81);
  --input: oklch(0.74 0.06 79.81);
  --ring: oklch(0.51 0.08 74.26);
  --chart-1: oklch(0.66 0.19 41.68);
  --chart-2: oklch(0.7 0.12 183.2);
  --chart-3: oklch(0.48 0.08 211.46);
  --chart-4: oklch(0.84 0.17 85.07);
  --chart-5: oklch(0.74 0.17 60.21);
  --sidebar: oklch(0.87 0.06 83.96);
  --sidebar-foreground: oklch(0.41 0.08 79.04);
  --sidebar-primary: oklch(0.26 0.02 358.42);
  --sidebar-primary-foreground: oklch(0.98 0.01 3.71);
  --sidebar-accent: oklch(0.83 0.06 84.46);
  --sidebar-accent-foreground: oklch(0.26 0.02 358.42);
  --sidebar-border: oklch(0.91 0 0.43);
  --sidebar-ring: oklch(0.71 0 0.37);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Nunito, sans-serif;
  --font-serif: PT Serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.2 0.01 48.35);
  --foreground: oklch(0.88 0.05 79.26);
  --card: oklch(0.25 0.01 56.14);
  --card-foreground: oklch(0.88 0.05 79.26);
  --popover: oklch(0.25 0.01 56.14);
  --popover-foreground: oklch(0.88 0.05 79.26);
  --primary: oklch(0.64 0.05 115.39);
  --primary-foreground: oklch(0.98 0.01 3.71);
  --secondary: oklch(0.33 0.02 60.7);
  --secondary-foreground: oklch(0.88 0.05 83.41);
  --muted: oklch(0.27 0.01 39.35);
  --muted-foreground: oklch(0.74 0.06 79.81);
  --accent: oklch(0.33 0.02 60.7);
  --accent-foreground: oklch(0.86 0.05 84.5);
  --destructive: oklch(0.63 0.24 29.21);
  --border: oklch(0.33 0.02 60.7);
  --input: oklch(0.33 0.02 60.7);
  --ring: oklch(0.64 0.05 115.39);
  --chart-1: oklch(0.66 0.19 41.68);
  --chart-2: oklch(0.7 0.12 183.2);
  --chart-3: oklch(0.48 0.08 211.46);
  --chart-4: oklch(0.84 0.17 85.07);
  --chart-5: oklch(0.74 0.17 60.21);
  --sidebar: oklch(0.23 0.01 56.09);
  --sidebar-foreground: oklch(0.88 0.05 79.26);
  --sidebar-primary: oklch(0.64 0.05 115.39);
  --sidebar-primary-foreground: oklch(0.98 0.01 3.71);
  --sidebar-accent: oklch(0.33 0.02 60.7);
  --sidebar-accent-foreground: oklch(0.86 0.05 84.5);
  --sidebar-border: oklch(0.33 0.02 60.7);
  --sidebar-ring: oklch(0.64 0.05 115.39);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Nunito, sans-serif;
  --font-serif: PT Serif, serif;
  --font-mono: JetBrains Mono, monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}

