:root {
  --background: oklch(0.97 0.01 264.53);
  --foreground: oklch(0.22 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.22 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.22 0 0);
  --primary: oklch(0.8 0.14 349.25);
  --primary-foreground: oklch(0 0 0);
  --secondary: oklch(0.94 0.07 98.08);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.92 0.01 268.52);
  --muted-foreground: oklch(0.34 0 0);
  --accent: oklch(0.83 0.09 248.95);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.7 0.19 23.19);
  --border: oklch(0.85 0 0);
  --input: oklch(0.85 0 0);
  --ring: oklch(0.83 0.09 248.95);
  --chart-1: oklch(0.8 0.14 349.25);
  --chart-2: oklch(0.77 0.15 306.21);
  --chart-3: oklch(0.83 0.09 248.95);
  --chart-4: oklch(0.88 0.09 66.27);
  --chart-5: oklch(0.94 0.14 130.35);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.22 0 0);
  --sidebar-primary: oklch(0.8 0.14 349.25);
  --sidebar-primary-foreground: oklch(0 0 0);
  --sidebar-accent: oklch(0.83 0.09 248.95);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.85 0 0);
  --sidebar-ring: oklch(0.83 0.09 248.95);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Gabriela, Geist Fallback, ui-sans-serif;
  --font-serif: Gabriela, Geist Fallback, ui-serif;
  --font-mono: Geist Mono, Geist Mono Fallback, ui-monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.22 0 0);
  --foreground: oklch(0.97 0.01 264.53);
  --card: oklch(0.29 0 0);
  --card-foreground: oklch(0.97 0.01 264.53);
  --popover: oklch(0.29 0 0);
  --popover-foreground: oklch(0.97 0.01 264.53);
  --primary: oklch(0.8 0.14 349.25);
  --primary-foreground: oklch(0.22 0 0);
  --secondary: oklch(0.77 0.15 306.21);
  --secondary-foreground: oklch(0.22 0 0);
  --muted: oklch(0.32 0 0);
  --muted-foreground: oklch(0.85 0 0);
  --accent: oklch(0.83 0.09 248.95);
  --accent-foreground: oklch(0.22 0 0);
  --destructive: oklch(0.7 0.19 23.19);
  --border: oklch(0.39 0 0);
  --input: oklch(0.39 0 0);
  --ring: oklch(0.83 0.09 248.95);
  --chart-1: oklch(0.8 0.14 349.25);
  --chart-2: oklch(0.77 0.15 306.21);
  --chart-3: oklch(0.83 0.09 248.95);
  --chart-4: oklch(0.88 0.09 66.27);
  --chart-5: oklch(0.94 0.14 130.35);
  --sidebar: oklch(0.29 0 0);
  --sidebar-foreground: oklch(0.97 0.01 264.53);
  --sidebar-primary: oklch(0.8 0.14 349.25);
  --sidebar-primary-foreground: oklch(0.22 0 0);
  --sidebar-accent: oklch(0.83 0.09 248.95);
  --sidebar-accent-foreground: oklch(0.22 0 0);
  --sidebar-border: oklch(0.39 0 0);
  --sidebar-ring: oklch(0.83 0.09 248.95);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Gabriela, Geist Fallback, ui-sans-serif;
  --font-serif: Gabriela, Geist Fallback, ui-serif;
  --font-mono: Geist Mono, Geist Mono Fallback, ui-monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}
