:root {
  --background: oklch(0.98 0.01 25.23);
  --foreground: oklch(0.2 0.01 18.05);
  --card: oklch(0.95 0.01 25.23);
  --card-foreground: oklch(0.18 0.01 29.18);
  --popover: oklch(0.94 0.01 25.23);
  --popover-foreground: oklch(0.22 0.01 29.09);
  --primary: oklch(0.55 0.22 27.03);
  --primary-foreground: oklch(0.98 0.01 100.72);
  --secondary: oklch(0.52 0.14 247.51);
  --secondary-foreground: oklch(0.98 0.01 100.72);
  --muted: oklch(0.91 0.01 25.23);
  --muted-foreground: oklch(0.38 0.01 17.71);
  --accent: oklch(0.86 0.04 33.03);
  --accent-foreground: oklch(0.18 0.01 29.18);
  --destructive: oklch(0.56 0.23 29.23);
  --border: oklch(0.84 0.01 25.22);
  --input: oklch(0.8 0.01 25.22);
  --ring: oklch(0.5 0.12 244.86);
  --chart-1: oklch(0.58 0.23 27.06);
  --chart-2: oklch(0.61 0.18 251.95);
  --chart-3: oklch(0.72 0.15 83.96);
  --chart-4: oklch(0.67 0.15 144.89);
  --chart-5: oklch(0.75 0.15 304.74);
  --sidebar: oklch(0.97 0 0);
  --sidebar-foreground: oklch(0.2 0.01 18.05);
  --sidebar-primary: oklch(0.52 0.14 247.51);
  --sidebar-primary-foreground: oklch(0.98 0.01 100.72);
  --sidebar-accent: oklch(0.69 0.14 79.64);
  --sidebar-accent-foreground: oklch(0.2 0.01 18.05);
  --sidebar-border: oklch(0.87 0.01 25.23);
  --sidebar-ring: oklch(0.52 0.14 247.51);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Outfit, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.12 0.01 38.49);
  --foreground: oklch(0.95 0.01 25.23);
  --card: oklch(0.18 0.01 29.18);
  --card-foreground: oklch(0.95 0.01 25.23);
  --popover: oklch(0.18 0.01 29.18);
  --popover-foreground: oklch(0.95 0.01 25.23);
  --primary: oklch(0.65 0.23 27.09);
  --primary-foreground: oklch(0.98 0.01 100.72);
  --secondary: oklch(0.5 0.14 249.16);
  --secondary-foreground: oklch(0.98 0.01 100.72);
  --muted: oklch(0.2 0.01 18.05);
  --muted-foreground: oklch(0.7 0.01 25.22);
  --accent: oklch(0.59 0.12 78.11);
  --accent-foreground: oklch(0.95 0.01 25.23);
  --destructive: oklch(0.56 0.23 29.23);
  --border: oklch(0.38 0.01 17.71);
  --input: oklch(0.38 0.01 17.71);
  --ring: oklch(0.49 0.14 250.75);
  --chart-1: oklch(0.64 0.25 26.85);
  --chart-2: oklch(0.66 0.19 250.17);
  --chart-3: oklch(0.78 0.16 87.01);
  --chart-4: oklch(0.68 0.15 144.94);
  --chart-5: oklch(0.75 0.15 304.74);
  --sidebar: oklch(0.14 0.01 33.25);
  --sidebar-foreground: oklch(0.95 0.01 25.23);
  --sidebar-primary: oklch(0.5 0.14 249.16);
  --sidebar-primary-foreground: oklch(0.98 0.01 100.72);
  --sidebar-accent: oklch(0.59 0.12 78.11);
  --sidebar-accent-foreground: oklch(0.95 0.01 25.23);
  --sidebar-border: oklch(0.32 0.01 27.45 / 30%);
  --sidebar-ring: oklch(0.5 0.14 249.16);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Outfit, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}
