:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.23 0 325.86);
  --card: oklch(0.98 0 0);
  --card-foreground: oklch(0.23 0 325.86);
  --popover: oklch(0.98 0 0);
  --popover-foreground: oklch(0.23 0 325.86);
  --primary: oklch(0.37 0.14 323.23);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.96 0.01 312.56);
  --secondary-foreground: oklch(0.31 0.11 327.07);
  --muted: oklch(0.97 0 264.7);
  --muted-foreground: oklch(0.49 0 0);
  --accent: oklch(0.88 0.02 323.34);
  --accent-foreground: oklch(0.31 0.11 327.07);
  --destructive: oklch(0.59 0.22 11.5);
  --border: oklch(0.91 0 0);
  --input: oklch(0.91 0 0);
  --ring: oklch(0.37 0.14 323.23);
  --chart-1: oklch(0.31 0.11 327.07);
  --chart-2: oklch(0.37 0.14 323.23);
  --chart-3: oklch(0.59 0.22 11.5);
  --chart-4: oklch(0.77 0.13 223.19);
  --chart-5: oklch(0.69 0.14 160.23);
  --sidebar: oklch(0.96 0.01 312.56);
  --sidebar-foreground: oklch(0.23 0 325.86);
  --sidebar-primary: oklch(0.37 0.14 323.23);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.88 0.02 323.34);
  --sidebar-accent-foreground: oklch(0.31 0.11 327.07);
  --sidebar-border: oklch(0.91 0 0);
  --sidebar-ring: oklch(0.37 0.14 323.23);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Lato, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.23 0.01 255.6);
  --foreground: oklch(0.93 0 0);
  --card: oklch(0.26 0.01 255.58);
  --card-foreground: oklch(0.93 0 0);
  --popover: oklch(0.26 0.01 255.58);
  --popover-foreground: oklch(0.93 0 0);
  --primary: oklch(0.58 0.14 327.21);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3 0.01 248.05);
  --secondary-foreground: oklch(0.93 0 0);
  --muted: oklch(0.26 0.01 255.58);
  --muted-foreground: oklch(0.68 0 0);
  --accent: oklch(0.33 0.03 326.23);
  --accent-foreground: oklch(0.93 0 0);
  --destructive: oklch(0.59 0.22 11.5);
  --border: oklch(0.3 0.01 268.37);
  --input: oklch(0.3 0.01 268.37);
  --ring: oklch(0.58 0.14 327.21);
  --chart-1: oklch(0.58 0.14 327.21);
  --chart-2: oklch(0.77 0.13 223.19);
  --chart-3: oklch(0.69 0.14 160.23);
  --chart-4: oklch(0.59 0.22 11.5);
  --chart-5: oklch(0.8 0.15 82.64);
  --sidebar: oklch(0.23 0.01 255.6);
  --sidebar-foreground: oklch(0.93 0 0);
  --sidebar-primary: oklch(0.58 0.14 327.21);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.33 0.03 326.23);
  --sidebar-accent-foreground: oklch(0.93 0 0);
  --sidebar-border: oklch(0.3 0.01 268.37);
  --sidebar-ring: oklch(0.58 0.14 327.21);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Lato, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}
