:root {
  --background: oklch(0.97 0.02 12.78);
  --foreground: oklch(0.24 0.07 17.81);
  --card: oklch(0.98 0.01 17.28);
  --card-foreground: oklch(0.26 0.07 19);
  --popover: oklch(0.98 0.01 17.28);
  --popover-foreground: oklch(0.26 0.07 19);
  --primary: oklch(0.67 0.22 21.34);
  --primary-foreground: oklch(0.99 0 359.99);
  --secondary: oklch(0.95 0.02 11.28);
  --secondary-foreground: oklch(0.24 0.07 17.81);
  --muted: oklch(0.98 0.01 17.28);
  --muted-foreground: oklch(0.26 0.07 19);
  --accent: oklch(0.99 0 359.99);
  --accent-foreground: oklch(0.43 0.13 20.62);
  --destructive: oklch(0.8 0.17 73.27);
  --border: oklch(0.91 0.05 11.4);
  --input: oklch(0.9 0.05 12.59);
  --ring: oklch(0.92 0.04 12.39);
  --chart-1: oklch(0.86 0.18 88.49);
  --chart-2: oklch(0.62 0.21 255.13);
  --chart-3: oklch(0.54 0.29 297.82);
  --chart-4: oklch(0.95 0.1 98.39);
  --chart-5: oklch(0.87 0.12 100.28);
  --sidebar: oklch(0.97 0.02 12.78);
  --sidebar-foreground: oklch(0.26 0.07 19);
  --sidebar-primary: oklch(0.67 0.22 21.34);
  --sidebar-primary-foreground: oklch(0.98 0.01 17.28);
  --sidebar-accent: oklch(0.98 0.01 17.28);
  --sidebar-accent-foreground: oklch(0.43 0.13 20.62);
  --sidebar-border: oklch(0.91 0.05 11.4);
  --sidebar-ring: oklch(0.92 0.04 12.39);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Barlow;
  --font-serif: Merriweather;
  --font-mono: JetBrains Mono;
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.16 0.03 17.48);
  --foreground: oklch(0.99 0 359.99);
  --card: oklch(0.21 0.05 19.26);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.26 0.07 19);
  --popover-foreground: oklch(0.99 0 359.99);
  --primary: oklch(0.67 0.22 21.34);
  --primary-foreground: oklch(0.99 0 359.99);
  --secondary: oklch(0.3 0.0891 19.6);
  --secondary-foreground: oklch(0.95 0.02 11.28);
  --muted: oklch(0.26 0.07 19);
  --muted-foreground: oklch(0.99 0 359.99);
  --accent: oklch(0.43 0.13 20.62);
  --accent-foreground: oklch(0.99 0 359.99);
  --destructive: oklch(0.8 0.17 73.27);
  --border: oklch(0.31 0.09 19.8);
  --input: oklch(0.39 0.12 20.37);
  --ring: oklch(0.5 0.16 20.89);
  --chart-1: oklch(0.86 0.18 88.49);
  --chart-2: oklch(0.62 0.21 255.13);
  --chart-3: oklch(0.54 0.29 297.82);
  --chart-4: oklch(0.95 0.1 98.39);
  --chart-5: oklch(0.87 0.12 100.28);
  --sidebar: oklch(0.26 0.07 19);
  --sidebar-foreground: oklch(0.99 0 359.99);
  --sidebar-primary: oklch(0.67 0.22 21.34);
  --sidebar-primary-foreground: oklch(0.99 0 359.99);
  --sidebar-accent: oklch(0.43 0.13 20.62);
  --sidebar-accent-foreground: oklch(0.99 0 359.99);
  --sidebar-border: oklch(0.39 0.12 20.37);
  --sidebar-ring: oklch(0.5 0.16 20.89);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Barlow;
  --font-serif: Merriweather;
  --font-mono: JetBrains Mono;
  --radius: 0rem;
  --shadow-2xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -1px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 1px 2px -2px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 2px 4px -2px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 4px 6px -2px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.1),
    0px 8px 10px -2px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -1px hsl(0 0% 0% / 0.25);
}
