package pages

import (
	"github.com/leapstack-labs/leapsql/internal/ui/features/common/layouts"
	"github.com/starfederation/datastar-go/datastar"
)

templ QueryPage(title string, isDev bool) {
	@layouts.Base(title, isDev) {
		<div id="app" data-init={ datastar.GetSSE("/query/sse") }></div>
	}
}
